<!DOCTYPE HTML>
<html>
<head>
    <title>How to use Synja</title>
<style>
body {
    font-family: sans-serif;
}
h1, h2, h3, h4 {
    color: #001056;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.header {
  background-color: lightgrey;
    height: 100px; 
    width:100%;
}    

.footer{
	background-color: grey;
    height: 20px; 
    width:100%;
     position : fixed;
     bottom : 0;
}



</style>
</head>

<body>

<div class="header">
<p style="padding: 30px">
contact details:<br>Dr. Nguyen-Thinh Le (<a href="mailto:lenguyen@hu-berlin.de">lenguyen@hu-berlin.de</a>)<br>Johannes Grobelski (<a href="grobelsj@informatik.hu-berlin.de">grobelsj@informatik.hu-berlin.de</a>)
</p>
</div>

<div><img src="/static/logo.jpg" style="float: right;" /></div>


<div class="container">
<h1 style="padding-top:0px;">Das Ziel von Synja</h1>
<p>Synja ist ein pädagogischer Agent um die Syntax von Java zu lehren. Dabei sollen Schüler die noch keine Erfahrung mit Java oder Schüler die Probleme mit Java-Syntax in ihrem Lernprozess unterstützt werden.</p>

<h1 style="padding-top:0px;">Die Lehrmethoden von Synja</h1>
<p> Synja implementiert ein von mir eigens entwickeltes didaktisches Modell um die Syntax der Sprache zu lernen (ein Synthese aus dem EIS-Prinzip von Bruner, ausgearbeiteten Beispielen und einer dialogbasierten Fehlererklärung). Der Kurs ist in Themenblöcke (Programmstruktur, Grundlagen, Arrays, Operatoren, Anweisungen, Kontrollstrukturen, Methoden und Klassen) unterteilt, in welchen Konzepte unterrichtet werden. Am Ende eines Themenblockes soll der Nutzer mindestens 3 Aufgaben (Multiple-Choice-Quizze und Lückentexte) korrekt lösen um das Wissen zu festigen. Vor der Benutzung kann der Nutzer einen Pretest ausfüllen, mithilfe dessen Synja ihre Lehre an die Probleme des Schülers anpasst.</p>

<h1 style="padding-top:0px;">Die Benutzeroberfläche von Synja.</h1>
<p>Die Benutzeroberfläche von Synja besteht aus drei Teilen. Links: das Dialogfeld, in dem der Dialog aufgezeichnet ist, rechts: die bildliche Darstellung von Synja und unten die beiden Eingabefelder (links: das Eingabefeld für Eingaben die sich auf den Dialog beziehen und rechts das Eingabefeld für Eingaben die sich auf Aufgaben beziehen).</p>

<h1 style="padding-top:0px;">Die Fähigkeiten im Dialog.</h1>
<p>Synja kann einfache Sätze verstehen. Das parsen der natürlichen Sprache wird durch RASA Technologie ermöglicht.</p>


<div class="footer">
<a href="http://141.20.25.58/">Back to Mainpage</a>
</div>

</body>
</html>