 <!DOCTYPE html>
<html>
<head>
<title>Synja & Liza</title>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
</head>
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<style>
.header {
  background-color: lightgrey;
    height: 100px; 
    width:100%;
}    


.footer{
	background-color: grey;
    height: 20px; 
    width:100%;
     position : fixed;
     bottom : 0;
}

@import "bourbon";

$color: #e2cef9;

@mixin MQ {
	@media only screen and (min-width: 700px) { @content; }
}

* {
	@include box-sizing(border-box);
}

.container {
	margin: 3em auto;
	width: 90%;
	max-width: 1100px;
}

.outer {
	height: 700px;
    width: 100%;
}

.inner{
	height: 400px;
}



</style>

<body>
<div class="header">
<p style="padding: 30px">
contact details:<br>Dr. Nguyen-Thinh Le (<a href="mailto:lenguyen@hu-berlin.de">lenguyen@hu-berlin.de</a>)<br>Johannes Grobelski (<a href="grobelsj@informatik.hu-berlin.de">grobelsj@informatik.hu-berlin.de</a>)
</p>

<img src="/static/logo.jpg" style="float: right;" />

<div class="outer">
	<div>
		<h3><a href="/how-to-use">How to use</a></h3>
		<p>A Tutorial how to use Synja.</p>
	</div>
	<div class="inner">
		<h3><a>Synja Pedagogical Agent</a></h3>
		<p>
			<p>A pedagogical agent for learning the syntax of java. Developed by Johannes Grobelski.</p>
			<a href = "/synja_en"><img src="/static/preview_synja.png" style="float: left;" alt="Example" width="400" border ="2"/></a>
		</p>
		
	</div>
	<div class="inner">
		<h3><a>Liza Chatbot</a></h3>
		<p>
			<p>A convertational agent for learning human reasoning skills. Developed by Laura Wartschinski.</p>
			<a href = "/liza"><img src="/static/preview_liza.png" style="float: left;" alt="Example" width="400" border ="2"/></a>
		</p>
	</div>


	<div class="footer">
	<a href="https://www.hu-berlin.de/de/hu/impressum">Legal Notice</a>
    <a href="http://141.20.25.58">Host1: 141.20.25.58</a>
    <a href="http://141.20.25.57">Host2: 141.20.25.57</a>
	</div>
</div>



</body>
<script>
	$('form#btn_de').submit(function(event) {
        socket.emit('btn_de');
        return false;
    });

    $('form#btn_en').submit(function(event) {
        socket.emit('btn_en');
        return false;
    });

            
</script>
</html> 