<!DOCTYPE HTML>
<html>
<head>
    <title>How to use Synja</title>
<style>
body {
    font-family: sans-serif;
}
h1, h2, h3, h4 {
    color: #001056;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.header {
  background-color: lightgrey;
    height: 100px; 
    width:100%;
}    

.footer{
	background-color: grey;
    height: 20px; 
    width:100%;
     position : fixed;
     bottom : 0;
}



</style>
</head>

<body>

<div class="header">
<p style="padding: 30px">
contact details:<br>Dr. Nguyen-Thinh Le (<a href="mailto:lenguyen@hu-berlin.de">lenguyen@hu-berlin.de</a>)<br>Johannes Grobelski (<a href="grobelsj@informatik.hu-berlin.de">grobelsj@informatik.hu-berlin.de</a>)
</p>
</div>

<div><img src="/static/logo.jpg" style="float: right;" /></div>


<div class="container">
<h1 style="padding-top:0px;">The goal of Synja.</h1>
<p>The syntax of a programming language describes which words and sentences are part of the language. The goal of synja is to improve the understanding of the user for the syntax of Java.</p>

<h1 style="padding-top:0px;">The teaching methods of Synja.</h1>
<p>The course is divided into lessons which are devived into small units. Synja will explain one concept, after another and test your knowledge. If you don't understand my explanation, synja can express herself in a different way. At the end of a lesson is a bigger test. The lessons are: programm structure, basics, operators, controll structures, methods, arrays and classes. I can show you the information in different forms: in a text, a picture or in a more active way. Synja will test you in several ways: using multiple choice quizzes, clozes and code tasks.</p>

<h1 style="padding-top:0px;">The UI of Synja.</h1>
<p>The UI consists of three parts: the pedagogical agent layer, the input layer, and the teaching layer. At the dialog level the conversation with Synja is displayed. At the input layer the user can answer related to the dialog (left) or related to a task (right). At the pedagogical agent level (on the right) you can see a graphical representation of Synja.</p>

<h1 style="padding-top:0px;">The dialog between the user and Synja.</h1>
<p>Synja can understand simple sentences which relate to the subject or questions to the programm. This is done with the help of the RASA technology.</p>



<h1 style="padding-top:0px;">How to use Synja - Pedagogical Agent</h1>
<p>To use Synja just type in to chat. Synja will ask you for your name.</p>
</div>

<div class="footer">
<a href="http://141.20.25.58/">Back to Mainpage</a>
</div>

</body>
</html>