<head>

</head>
<body>

<div class="container">
<h1>Synja Pedagogical Agent</h1>
</div>

<div class="footer">
<p style="padding: 30px">
Kontakt:<br>Dr. Nguyen-Thinh Le (<a href="mailto:lenguyen@hu-berlin.de">lenguyen@hu-berlin.de</a>)<br>Johannes Grobelski (<a href="grobelsj@informatik.hu-berlin.de">grobelsj@informatik.hu-berlin.de</a>)
</p>
</div>

<img src="/static/logo.jpg" style="float: right;" />



<div class="container">
<a href="127.0.0.1:80/how-to-use">How to use</a>
</div>

<div class="container">
<p style="padding-buttom: 200px">
<a href="127.0.0.1:80/about">About us</a>
</div>

<div class="container">
<p style="padding-buttom: 300px">
<a href="127.0.0.1:80/usergate">Synja Pedagogical Agent</a>
</div>

<div class="container">
<p style="padding-buttom: 300px">
<a href="127.0.0.1:80/liza">Liza Chatbot</a>
</div>


</body>
</html>