<head>


<style>
.header {
  background-color: lightgrey;
    height: 100px; 
    width:100%;
}    


.footer{
	background-color: grey;
    height: 20px; 
    width:100%;
     position : fixed;
     bottom : 0;
}

</style>
</head>

<body>
<div class="header">
<p style="padding: 30px">
Kontakt:<br>Dr. Nguyen-Thinh Le (<a href="mailto:lenguyen@hu-berlin.de">lenguyen@hu-berlin.de</a>)<br>Johannes Grobelski (<a href="grobelsj@informatik.hu-berlin.de">grobelsj@informatik.hu-berlin.de</a>)
</p>
</div>

<img src="/static/logo.jpg" style="float: right;" />



<div class="container">
<a href="/how-to-use">How to use</a>
</div>

<div class="container">
<p style="padding-buttom: 300px">
<a href="/synja">Synja Pedagogical Agent</a>
</div>

<div class="container">
<p style="padding-buttom: 300px">
<a href="/liza">Liza Chatbot</a>
</div>

<h1 style="padding-top: 100px; color:red">ACHTUNG DIESE SEITE IST NOCH IM AUFBAU! <br> ES KANN DAHER ZU AUSF&Auml;LLEN KOMMEN. <br> VORAUSICHTLICHE FERTIGSTELLUNG: Heute Abend, 17.05.19</h1>

<div class="footer">
<a href="https://www.hu-berlin.de/de/hu/impressum">Impressum</a>
</div>

</body>
</html>