<!DOCTYPE HTML>
<html>
<head>
    <title>about us</title>
<style>
body {
    font-family: sans-serif;
}
h1, h2, h3, h4 {
    color: #001056;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


.footer {
  background-color: lightgrey;
    height: 100px; 
    width:100%;
}    


</style>
</head>

<body>
<div class="footer">
<p style="padding: 30px">
Kontakt:<br>Dr. Nguyen-Thinh Le (<a href="mailto:lenguyen@hu-berlin.de">lenguyen@hu-berlin.de</a>)<br>Johannes Grobelski (<a href="grobelsj@informatik.hu-berlin.de">grobelsj@informatik.hu-berlin.de</a>)
</p>
<img src="/static/logo.jpg" style="float: right;" />
</div>

<div class="container">
<h1 style="padding-top: 100px;">Synja Pedagogical Agent</h1>
<p>This is the Pedagogical Agent Synja - for explaining the syntax of Java.</p>
</div>

<div class="container">
<a href="http://127.0.0.1:5000">Back to Mainpage</a>
</div>

</body>
</html>